@import "bootstrap";

.container {
	width: 950px;
}


.rating_bar {
  width: 80px;
  background: url(/images/star.gif) 0 0 repeat-x;
}

#star {
  height: 16px;
  background: url(/images/star.gif) 0 -32px repeat-x;
}

#head {
	width: 950px;
	height: 50px;
	padding: 20px;
}

#restaurant-dishes {
	padding-left: 15px;
	padding-bottom: 10px;
}

#reviews {
	width: 620px;
	float: left;
}

#top-nav {
	width: 950px;
	height: 25px;
}

#search {
	height: 25px;
	padding-left: 20px;
}

#sign-in {
	width: 950px;
	height: 20px;
	padding-left: 585px;
	padding-bottom: 25px;
}

#devise {
	padding-left: 80px;
}

#map_canvas {
  width: 350px;
  height: 350px;
  float: right;
  background-color: #CCC;
}

#navbar {
	float: left;
	width: 180px;
	height: 2000px;
}

#content {
	float: left;
	width: 400px;
	height: 2000px;
	padding-left: 10px;
	padding-right: 10px;
}

.address {
	text-align: right;
}

ul {
	list-style-type: none;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}